[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
html5lib = "*"
pytz = "*"
unidecode = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
start-verbose = "python ./src/main.py --verbose"
lint = "pylint --rcfile=.pylintrc ./src/*"
format = "black --line-length 120 ./src/"
format-check = "black --check --line-length 120 ./src/"
